{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <div>
            <label for="InputPassword" class="form-label">Старый пароль</label>
            <input type="password" name='old_password'  class="form-control" id="InputPassword_old">
        </div>
        <div>
            <label for="InputPassword" class="form-label">Новый пароль</label>
            <input type="password" name='new_password'  class="form-control" id="InputPassword_new">
        </div>
        <div>
            <label for="InputPassword" class="form-label">Повторите новый пароль</label>
            <input type="password" name='new1_password'  class="form-control" id="InputPassword_new1_">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock%}